.ecg-loader-overlay {
  position: fixed;      /* Covers the entire screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(255, 255, 255, 0.3); Transparent overlay */
  background: rgba(8, 8, 8, 0.132); /* Transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;        /* Always on top */
}

.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
}

.heart-rate .fade-in,
.heart-rate .fade-out {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3); /* Matches overlay transparency */
}

.heart-rate .fade-in {
  width: 100%;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.heart-rate .fade-out {
  width: 120%;
  right: -120%;
  animation: heartRateOut 2.5s linear infinite;
}

/* Keyframes for fade-in effect */
@keyframes heartRateIn {
  0% { width: 100%; }
  50% { width: 0; }
  100% { width: 0; }
}

/* Keyframes for fade-out effect */
@keyframes heartRateOut {
  0% { left: -120%; }
  30% { left: -120%; }
  100% { left: 0; }
}
